<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<html>
<head>
	<title>遥控云台</title>
</head>
<body>
<div style="width: 1000px;height: 2000px;margin-left: 251.5px;">
	<div style="width: 50px;height: 50px;">
		<a href="/data1">上</a>
	</div>
	<div style="width: 50px;height: 50px">
		<a href="/data2">下</a>
	</div>
	<div style="width: 50px;height: 50px">
		<a href="/data3">左</a>
	</div>
	<div style="width: 50px;height: 50px">
		<a href="/data4">右</a>
	</div>
</div>
</body>
</html>